.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  
}

.example-full-width {
  width: 100%;

}

::ng-deep .mat-mdc-form-field .mdc-text-field {
  background-color: #bccbda !important;
  color: black  !important;
}

::ng-deep .mdc-floating-label {
    color: rgb(5, 4, 4) !important;
    font-size: 18px !important;

}
.mat-mdc-input-element{
    color: rgb(26, 25, 25) !important;
    font-size: 15px !important;
}

::ng-deep .mdc-line-ripple::after {
  border-bottom-color: #9da7b9 !important; /* your blue color */
}

.custom-btn {
  background-color: #647b95 !important;
  color: white !important;
}


