# Global ignores (anywhere in the project)
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar

### Exceptions for Maven/Gradle build folders ###
# Keep target folders inside src/main and src/test
!**/src/main/**/target/
!**/src/test/**/target/

### Spring Tool Suite (STS) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
# Keep build folders inside src/main and src/test
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.env/

application.properties